POSTGRES_HOST=database
POSTGRES_PASSWORD=124521
POSTGRES_USER=pc
POSTGRES_DB=cryp
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=test_pass

EMAIL_SENDER=af@gmail.com
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465
APP_PASSWORD=oek
SMTP_TLS=1

APP_BASE_URL=http://localhost:8000

RABBIT_HOST=rabbit
RABBIT_PORT=5672
RABBIT_USER=
RABBIT_PASSWORD=1

COINMARKETCAP_API_KEY=
COINMARKETCAP_BASE_URL=https://pro-api.coinmarketcap.com

#MINIO
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

DEFAULT_AVATAR_URL=s3://my-portfolios-bucket/defaults/default_avatar.png