@use "./mixins" as mixins;
@use "./consts" as consts;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import "./null";

:root {
  --main-bg: #261E35;
  --second-bg: #2F293E;
  --select-bg: #372C44;
  --block-bg: #3C354A;
  --icons: #8D8598;
  --light: #E2D8FD;
  --main-text: #FFFFFF;
  --disable-text: #868B93;
  --select-text: #D8BCFF;
  --green: #00C287;
  --red: #E72D04;
  --error: #f2545b;
}

main {
  z-index: mixins.z("main");
}

body {
  min-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg);
  color: var(--main-text);

  .locked {
    overflow: hidden;
    touch-action: none;
  }

  @media (max-width: consts.$mobile_px + px) {
    @include mixins.hidescroll();
  }
}

[class*="__container"] {
  @include mixins.container-r;
  @include mixins.adaptiveValue("padding-left", 100, 20);
  @include mixins.adaptiveValue("padding-right", 100, 20);
}

.block {
  background: var(--block-bg) linear-gradient(135deg, #ffffff07, var(--second-bg));
  border: var(--light) solid mixins.rem(1);
  border-radius: mixins.rem(20);
}

.link {
  color: var(--disable-text);
  transition: color 0.2s ease;

  &:hover {
    color: var(--select-text);
  }
}
