<main class="main">
  <section class="auth">
    <div class="auth__container block">
      <h1 class="auth__title">
        {{ isRegister() ? 'Register' : 'Login' }}
      </h1>

      <form class="auth__form form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <h2 class="form__label">Username</h2>
        <div class="form__input-container">
          <input
            class="form__input {{ invalid(authForm, 'username') ? 'form__input_error' : '' }}"
            type="text"
            formControlName="username"
            required
          >
        </div>
        @if (invalid(authForm, 'username')) {
          <app-form-error [message]="message(authErrors, authForm, 'username')" />
        }

        @if (isRegister()) {
          <h2 class="form__label">Email</h2>
          <div class="form__input-container">
            <input
              class="form__input {{ invalid(authForm, 'email') ? 'form__input_error' : '' }}"
              type="email"
              formControlName="email"
              required
            >
          </div>
          @if (invalid(authForm, 'email')) {
            <app-form-error [message]="message(authErrors, authForm, 'email')" />
          }
        }

        <h2 class="form__label">Password</h2>
        <div class="form__input-container">
          <input
            class="form__input {{ invalid(authForm, 'password') ? 'form__input_error' : '' }}"
            [type]="isPasswordVisible()['password'] ? 'text' : 'password'"
            formControlName="password"
            required
          >
          <button
            type="button"
            class="form__show-password"
            (click)="showPassword('password')"
          >
            @if (isPasswordVisible()['password']) {
              <fa-icon [icon]="icons.eye" />
            } @else {
              <fa-icon [icon]="icons.eyeSlash" />
            }
          </button>
        </div>
        @if (invalid(authForm, 'password')) {
          <app-form-error [message]="message(authErrors, authForm, 'password')" />
        }

        @if (isRegister()) {
          <h2 class="form__label">Confirm Password</h2>
          <div class="form__input-container">
            <input
              class="form__input {{ invalid(authForm, 'confirmPassword') ? 'form__input_error' : '' }}"
              [type]="isPasswordVisible()['confirmPassword'] ? 'text' : 'password'"
              formControlName="confirmPassword"
              required
            >
            <button
              type="button"
              class="form__show-password"
              (click)="showPassword('confirmPassword')"
            >
              @if (isPasswordVisible()['confirmPassword']) {
                <fa-icon [icon]="icons.eye" />
              } @else {
                <fa-icon [icon]="icons.eyeSlash" />
              }
            </button>
          </div>
          @if (invalid(authForm, 'confirmPassword')) {
            <app-form-error [message]="message(authErrors, authForm, 'confirmPassword')" />
          }
        }

        <button class="form__submit" type="submit">
          {{ isRegister() ? 'Register' : 'Login' }}
        </button>

        @if (submitError()) {
          <app-form-error [message]="submitError()!" />
        }
      </form>

      @if (!isRegister()) {
        <a class="auth__link link" [routerLink]="['/' + ROUTES.register]">
          Don't have an account? Register
        </a>
      } @else {
        <a class="auth__link link" [routerLink]="['/' + ROUTES.login]">
          Already have an account? Login
        </a>
      }
    </div>
  </section>
</main>
