@use "../../../styles/mixins" as mixins;

.auth {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg);
  @include mixins.adaptiveValue("padding-top", 40, 20);
  @include mixins.adaptiveValue("padding-bottom", 40, 20);

  &__container {
    @include mixins.adaptiveValue("min-width", 450, 320);
    @include mixins.adaptiveValue("padding-top", 30, 20);
    @include mixins.adaptiveValue("padding-bottom", 30, 20);
  }

  &__title {
    font-weight: 700;
    @include mixins.adaptiveValue("font-size", 32, 24);
    @include mixins.adaptiveValue("margin-bottom", 40, 20);
    text-align: center;
  }

  &__link {
    display: block;
    width: max-content;
    margin: 0 auto;
  }
}
