@use "../../../styles/mixins" as mixins;

.error {
  @include mixins.adaptiveValue("font-size", 16, 12);
  @include mixins.adaptiveValue("margin-bottom", 10, 7);
  @include mixins.adaptiveValue("padding", 10, 7);
  border-radius: mixins.rem(15);
  background-color: var(--select-bg);
  color: var(--error);
}
